*{margin: 0px; padding: 0%;}
body{
    font-family: 'Open Sans', sans-serif;
}
/* banner section  */
.first-container{display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
    background-color: rgba(229, 84, 115, 0.10);
    /* width: 80%;margin: auto; */
}
.banner-pic{
    margin-top: 50px;
    margin-right: 50px;
    width: 400px; 
height: 475px;
}
.banner-para{
    color: rgba(39, 39, 39, 0.60);
font-size: 10px;
font-weight: 400;
margin-bottom: 30px;
margin-top: 20px;
}
.banner-desc-sec{
    margin-left: 50px;
}
.banner-head{
    color: #272727;
font-size: 45px;
font-weight: 800;
/* margin-bottom: 30px; */
}
.btn-primary{color: white;
    padding: 10px 20px;
    border: 0px;
    border-radius: 5px;
    
background: #E55473;
}
.featured-head{
    text-align: center;
}
.f-head{
    margin-top: 110px;
    color: #272727;
font-size: 30px;
font-weight: 800;

}
.flower-adding-section{
width: 70%; margin: auto;
    display: flex;
    align-items: center;
    gap: 20px; 
    margin-top: 30px;
    /* margin-left: 50px; */
}
.featured-flower-container{
    height: 75vh;
}
.featured-img{
    /* background-color: khaki; */
    height: 260px;
    width: 200px;
    margin-top: 20px;
    /* border-radius: 200px 250px 0px 0px; */

}
.img-one{
    /* height: 30%;
    width: 25%; */
    background-color: rgba(167, 33, 98, 0.15);
   padding: 40px 40px 0px 40px;
    border-radius: 200px 200px 0px 0px;
    


}
.img-two{
    padding: 40px 40px 0px 40px;
    border-radius: 200px 200px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
}
.img-three{ 
    
    padding: 40px 40px 0px 40px;
    border-radius: 200px 200px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);


}
.featured-p-para{width: 80%; margin: auto; 
    display: flex; align-items: center; justify-content: space-evenly;
}
.our-featured-para{ 
    border-bottom: 2px solid black; margin-top: 20px;
}
section{height: 90vh;}
.head{
    color: #272727;
}
.hot-deal-container{ margin-top: 8%;margin-bottom: 5%;
     height: 50vh; background-color:  rgba(229, 84, 115, 0.05);
        display: flex; align-items: center; justify-content:center; gap: 120px; }
.deal-pic{
    height: 250px;
}
.deal-desc{text-align: center;}
.insta-section { height: 60vh;
    text-align: center;
}
.insta-img{
    width: 70%; margin: auto;
    display: flex; align-items: center; gap: 24px;
}
.insta-flower-pic{
    height:220px ; 
}
.get-deals-container{  height: 70vh; background-image: url('../Flower Asset/Rectangle\ 9.png');
   background-position: center; background-size:850px;background-repeat: no-repeat;
   text-align: center; display: flex; align-items: center; justify-content: center;  }
   .g-head{ font-size: 25px; columns: #474747; margin-bottom: 0px;
}
.inp{
    width: 400px; padding: 9px; border: 0px;
    border-radius: 3px; margin-right: 3px; font-size: 10px;
}
.get-deals-para{
    color: rgba(39, 39, 39, 0.60);
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 10px;
}
.price-box-container{ height: 80vh;
    text-align: center;
}
.p-box{
    background-color: rgba(229, 84, 115, 0.05);
    ;
    width: 20%; text-align: center;
}
.price-img{
    height: 240px;
}
.p-head{
    font-size: 18px; 
}
.price-tag{
   margin-bottom: 10px; 
}
.price-boxes{ gap: 60px; margin-top: 20px;
    display: flex; align-items: center; justify-content: center;
}
